body {
    background-color: #000;
}
.container {
    position: absolute;
    top: 15%;
    left: 35%;
    text-align: center;
    background-color: #333;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    gap: 12px;
}

.item {
    color: #fff;
    width: calc(100% - 10px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #ff00ff;
    border-radius: 5px;
}