body {
    background-color: #000;
}

form {
    padding: 12px;
    background-color: #333;
}

h3 {
    color: #fff;
    justify-content: center;
}

.email-name {
    display: block;
    color: #fff;
}

.password-name {
    display: block;
    color: #fff;
}

.email {

}

.password {

}

.submit {
    
}