body {
    background-color: #000;
    height: 700px;
}

.wrapper-1 {
    margin: 15px 0;
}

.title-1 {
    color: #fff;
    text-align: center;
    margin: 0;
}
.container-1 {
    text-align: center;
    background-color: #333;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    gap: 12px;
}

.item-1 {
    color: #fff;
    width: calc(25% - 10px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #ff00ff;
    border-radius: 5px;
}

.wrapper-2 {
    margin: 15px 0;
}

.title-2 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.container-2 {
    text-align: center;
    background-color: #333;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    gap: 12px;
}

.item-2 {
    color: #fff;
    width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #ff00ff;
    border-radius: 5px;
}

.wrapper-3 {
    margin: 15px 0;
}

.title-3 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.container-3 {
    text-align: center;
    background-color: #333;
    flex-wrap: wrap;
    display: flex;
    padding: 15px;
    gap: 12px;
}

.item-3 {
    color: #fff;
    width: calc(15% - -5px);
    box-sizing: border-box;
    padding: 10px;
    background-color: #ff00ff;
    border-radius: 5px;
}